In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  6  4  8  5  6
1  8  7  8  1  1
2  7  8  8  5  4
3  8  5  8  9  4
4  2  9  8  7  6

In [6]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [8]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        6        4        8        5        6
1        8        7        8        1        1
2        7        8        8        5        4
3        8        5        8        9        4
4        2        9        8        7        6

In [10]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        6        4        8        5        6
1        8        7        8        1        1
2        7        8        8        5        4
3        8        5        8        9        4
4        2        9        8        7        6