In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  1  9  1  8  5
1  9  3  2  9  2
2  3  2  4  7  2
3  3  3  2  6  8
4  3  5  5  5  1
5  2  6  8  1  1
6  8  4  7  4  9
7  7  3  6  2  3
8  8  2  1  5  8
9  4  3  3  4  9

In [5]:
(df['A'] < 5).sum()

6

In [7]:
(df['A'] < 5).mean()

0.6