In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [2]:
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='h')

df.head()

                     col1  col2
2023-01-01 00:00:00     3    15
2023-01-01 01:00:00    19     9
2023-01-01 02:00:00    12     4
2023-01-01 03:00:00     3     8
2023-01-01 04:00:00    16     4

In [8]:
df.resample('ME')['col1'].sum().to_frame()

            col1
2023-01-31  7455
2023-02-28  6918
2023-03-31  7307
2023-04-30  7271
2023-05-31  7704
2023-06-30  7028
2023-07-31  7577
2023-08-31  7316
2023-09-30  7196
2023-10-31  7447
2023-11-30  7198
2023-12-31  7299

In [10]:
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   280
2023-01-02   238
2023-01-03   205
2023-01-04   241
2023-01-05   247
...          ...
2023-12-27   297
2023-12-28   202
2023-12-29   243
2023-12-30   219
2023-12-31   200

[365 rows x 1 columns]